apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: homelab-apps
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - git:
        repoURL: https://github.com/prankstr/homelab.git
        revision: HEAD
        directories:
          - path: kubernetes/apps/*
  ignoreApplicationDifferences:
    - jsonPointers:
        - /spec/source/targetRevision
        - /spec/syncPolicy
  template:
    metadata:
      name: "{{index .path.segments 2}}"
    spec:
      project: default
      source:
        repoURL: https://github.com/prankstr/homelab.git
        targetRevision: HEAD
        path: "{{.path.path}}"
      destination:
        server: https://kubernetes.default.svc
        namespace: "{{index .path.segments 2}}"
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
        automated:
          prune: true
  templatePatch: |
    {{- if eq .path.basename "metallb" }}
    spec:
      ignoreDifferences:
        - group: apiextensions.k8s.io
          jsonPointers:
          - /spec/conversion/webhook/clientConfig/caBundle
          kind: CustomResourceDefinition
          name: bgppeers.metallb.io
        - group: apiextensions.k8s.io
          jsonPointers:
          - /spec/conversion/webhook/clientConfig/caBundle
          kind: CustomResourceDefinition
          name: addresspools.metallb.io
    {{-  end }}
    {{- if eq .path.basename "kasten" }}
    spec:
      ignoreDifferences:
        - group: ""
          kind: Secret
          name: kopia-tls-cert
          jsonPointers:
            - /data/tls.crt
        - group: ""
          kind: Secret
          name: kopia-tls-key 
          jsonPointers:
            - /data/tls.key
        - group: config.kio.kasten.io
          kind: Policy
          jsonPointers:
            - /spec/actions/1/exportParameters/receiveString
    {{-  end }}
    {{- if eq .path.basename "victoria-metrics" }}
    spec:
      ignoreDifferences:
        - kind: Secret
          name: victoria-metrics-k8s-stack-victoria-metrics-operator-validation
          jsonPointers:
            - /data
        - group: admissionregistration.k8s.io
          kind: ValidatingWebhookConfiguration
          name: victoria-metrics-k8s-stack-victoria-metrics-operator-admission
          jqPathExpressions:
            - .webhooks[]?.clientConfig.caBundle
    {{-  end }}
