apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - github.com/argoproj/argo-cd/manifests/cluster-install?ref=v3.1.7
  - namespace.yaml
  - homelab-appset.yaml
  - ingress.yaml
  - cmp-secrets.yaml
  - oidc-secret.yaml
  - vmservicemonitors.yaml

patches:
  - path: cmp-patch.yaml
  - path: argocd-cm-patch.yaml
  - path: argocd-rbac-cm-patch.yaml
  - path: argocd-cmd-params-cm-patch.yaml
  - path: resource-requests-patch.yaml
