apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: headscale

images:
  - name: headscale/headscale
    newTag: 0.23.0-alpha12
  - name: goodieshq/headscale-admin
    newTag: 0.1.12b

configMapGenerator:
  - name: headscale-config
    files:
      - config.yaml

resources:
  - deployment.yaml
  - ingress.yaml
  - service.yaml
  - pvc.yaml
