apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-metrics-agent
  namespace: victoria-metrics
spec:
  interval: 10m
  chart:
    spec:
      chart: victoria-metrics-agent
      version: 0.26.4
      sourceRef:
        kind: HelmRepository
        name: victoria-metrics
      interval: 1h
  releaseName: external
  values:
    rbac:
      namespaced: true

    remoteWrite:
      - url: http://vmsingle-victoria-metrics-k8s-stack.victoria-metrics.svc:8428/api/v1/write

    service:
      enabled: true

    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt"
      hosts:
        - name: vmagent-external.${my_domain}
          path: /
          port: http
      tls:
        - secretName: vmagent-external.${my_domain}-cert
          hosts:
            - vmagent-external.${my_domain}
      ingressClassName: nginx
      pathType: Prefix

    extraVolumes:
      - name: homeassistant-token
        secret:
          secretName: homeassistant-token
    extraVolumeMounts:
      - name: homeassistant-token
        mountPath: /homeassistant

    config:
      scrape_configs:
        - job_name: vmagent
          static_configs:
            - targets: ["localhost:8429"]
        - job_name: victoria-metrics-lts
          static_configs:
            - targets: ["victoria-metrics-long-term:8428"]
        - job_name: molntuss-node-exporter
          static_configs:
            - targets:
                - molntuss.${my_domain}:9100
                - molntuss.${my_domain}:9134
        - job_name: homeassistant
          static_configs:
            - targets:
                - homeassistant.${my_domain}
          scheme: https
          bearer_token_file: /homeassistant/token
          metrics_path: /api/prometheus
          tls_config:
            insecure_skip_verify: true
        - job_name: husdata-exporter
          static_configs:
            - targets:
                - homeassistant.${my_domain}:9101
        - job_name: opnsense-node-exporter
          static_configs:
            - targets:
                - opnsense.${my_domain}:9100
