postgresql:
  enabled: false
  global:
    postgresql:
      auth:
        database: notinuse

vikunja:
  env:
    VIKUNJA_DATABASE_TYPE: sqlite
    VIKUNJA_DATABASE_PATH: ./files/vikunja.db
global:
  postgresql:
    enabled: false

vikunja:
  env:
    VIKUNJA_DATABASE_TYPE: sqlite
    VIKUNJA_DATABASE_PATH: ./files/vikunja.db
  persistence:
    config:
      type: secret
      name: vikunja-config
  ingress:
    main:
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt"
      ingressClassName: "nginx"
      hosts:
        - host: todo.{ MY_DOMAIN }
          paths:
            - path: "/"
      tls:
        - hosts:
            - todo.{ MY_DOMAIN }
          secretName: todo.{ MY_DOMAIN }-cert
