apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: piraeus

resources:
  - https://github.com/piraeusdatastore/piraeus-operator/config/extras/monitoring?ref=v2
  - https://github.com/piraeusdatastore/piraeus-operator/releases/download/v2.10.1/manifest.yaml
  - cluster.yaml
  - lvmthin-pool.yaml
  - talos-loader.yaml
  - storageClass.yaml
  - disable-talos3.yaml
  - volumeSnapshotClass.yaml

patches:
  - target:
      kind: Deployment
      name: piraeus-operator-controller-manager
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "1"
  - patch: |
      $patch: delete
      apiVersion: monitoring.coreos.com/v1
      kind: PodMonitor
      metadata:
        name: linstor-affinity-controller
  - patch: |
      - op: add
        path: /metadata/annotations
        value:
          kustomize.toolkit.fluxcd.io/substitute: disabled
    target:
      kind: ConfigMap
      name: piraeus-datastore-dashboard

images:
  - name: quay.io/piraeusdatastore/piraeus-csi
    newTag: 1.10.3 # renovate: ignore

