apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - datasources.yaml
  - alertmanager-config-secret.yaml
  - homeassistant-token-secret.yaml

patches:
  - path: server-side-apply-patch.yaml
    target:
      kind: ConfigMap
      name: victoria-metrics-k8s-stack-vmagent
  - path: server-side-apply-patch.yaml
    target:
      kind: ConfigMap
      name: victoria-metrics-k8s-stack-victoriametrics
  - path: server-side-apply-patch.yaml
    target:
      kind: ConfigMap
      name: victoria-metrics-k8s-stack-node-exporter-full
  - path: coredns-patch.yaml
    target:
      kind: Service
      name: victoria-metrics-k8s-stack-coredns

helmCharts:
  - includeCRDs: true
    name: victoria-metrics-k8s-stack
    namespace: victoria-metrics
    releaseName: victoria-metrics-k8s-stack
    repo: https://victoriametrics.github.io/helm-charts/
    valuesFile: values.yaml
    version: 0.39.0

  - name: victoria-metrics-agent
    releaseName: external
    namespace: victoria-metrics
    repo: https://victoriametrics.github.io/helm-charts/
    valuesFile: values-agent-external.yaml
    version: 0.17.1

  - name: victoria-metrics-single
    releaseName: long-term
    namespace: victoria-metrics
    repo: https://victoriametrics.github.io/helm-charts/
    valuesFile: values-single-long-term.yaml
    version: 0.15.1

  - name: victoria-logs-single
    repo: https://victoriametrics.github.io/helm-charts/
    namespace: victoria-metrics
    includeCRDs: true
    releaseName: victoria-logs-single
    valuesFile: values-logs.yaml
    version: 0.9.3
