apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: k10

resources:
  - oidc-secret.yaml
  - vmpodscrape.yaml
  - vmscrapeconfig.yaml

patches:
  - path: k10-metering-config-patch.yaml
    target:
      kind: ConfigMap
      name: k10-k10-metering-config
  - path: rbac-patch.yaml
    target:
      group: rbac.authorization.k8s.io
      kind: ClusterRoleBinding
      name: backup-k10-k10-cluster-admin
      version: v1

generatorOptions:
  disableNameSuffixHash: true
  labels:
    grafana_dashboard: "1"

configMapGenerator:
  - files:
      - k10-dashboard.json
    name: k10-dashboard

# Need to set namespace here as well, otherwise some resources are created in the wrong namespace
helmCharts:
  - includeCRDs: true
    name: k10
    namespace: k10
    releaseName: k10
    repo: https://charts.kasten.io
    valuesFile: values.yaml
    version: 8.0.7
