apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
spec:
  interval: 10m
  chart:
    spec:
      chart: headlamp
      version: 0.37.0
      sourceRef:
        kind: HelmRepository
        name: headlamp
        namespace: headlamp
      interval: 1h
  values:
    config:
      oidc:
        secret:
          create: false
        externalSecret:
          enabled: true
          name: "headlamp-oidc"

    ingress:
      enabled: true
      ingressClassName: nginx
      hosts:
        - host: headlamp.${my_domain}
          paths:
            - path: /
              type: Prefix
      tls:
        - hosts:
            - headlamp.${my_domain}

    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
