apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
spec:
  interval: 10m
  chart:
    spec:
      chart: headlamp
      version: 0.40.0
      sourceRef:
        kind: HelmRepository
        name: headlamp
      interval: 1h
  values:
    config:
      oidc:
        secret:
          create: false
        externalSecret:
          enabled: true
          name: "headlamp-oidc"
      pluginsDir: /build/plugins

    serviceAccount:
      create: false

    clusterRoleBinding:
      create: false

    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt"
      ingressClassName: nginx
      hosts:
        - host: headlamp.${my_domain}
          paths:
            - path: /
              type: Prefix
      tls:
        - hosts:
            - headlamp.${my_domain}
          secretName: headlamp.${my_domain}-cert

    initContainers:
      - command:
          - /bin/sh
          - -c
          - mkdir -p /build/plugins && cp -r /plugins/* /build/plugins/ && chown -R 100:101 /build
        image: ghcr.io/headlamp-k8s/headlamp-plugin-flux:latest
        imagePullPolicy: Always
        name: headlamp-plugins
        securityContext:
          runAsNonRoot: false
          privileged: false
          runAsUser: 0
          runAsGroup: 0
        volumeMounts:
          - mountPath: /build/plugins
            name: headlamp-plugins

    persistentVolumeClaim:
      accessModes:
        - ReadWriteOnce
      enabled: true
      size: 1Gi

    volumeMounts:
      - mountPath: /build/plugins
        name: headlamp-plugins

    volumes:
      - name: headlamp-plugins
        persistentVolumeClaim:
          claimName: headlamp

    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
