apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: 1password

helmCharts:
  - namespace: 1password
    name: connect
    releaseName: 1password
    repo: https://1password.github.io/connect-helm-charts
    includeCRDs: true
    valuesFile: values.yaml
    version: 2.0.4
