apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: metallb

resources:
  - ipaddresspool.yaml
  - l2advertisement.yaml
  - github.com/metallb/metallb/config/native?ref=v0.14.5
