name: Kubectl validate
on:
  pull_request:
    branches:
      - main
    paths:
      - "kubernetes/apps/**"
      - "kubernetes/bootstrap/bootstrap-argocd.yaml"

permissions:
  contents: read

jobs:
  changed-apps:
    runs-on: arc-runner-set
    name: Find changed apps
    container:
      image: alpine/k8s:1.30.2
    outputs:
      apps_matrix: ${{ steps.changed-apps.outputs.apps_matrix }}
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          matrix: true
          dir_names: true

      - name: List all changed files
        run: echo '${{ steps.changed-files.outputs.all_changed_files }}'

      # Sort out changes to just kubernetes/apps/*
      # Even though the workflow only triggers on changes to kubernetes/apps other workflows might update more files
      - name: Filter apps matrix
        id: changed-apps
        run: |
          CHANGED_FILES='${{ steps.changed-files.outputs.all_changed_files }}'
          APPS=$(echo $CHANGED_FILES | jq -r '.[] | select(startswith("kubernetes/apps"))' | jq -R . | jq -sc .)
          echo "Filtered matrix: $APPS"
          echo apps_matrix=$APPS >> $GITHUB_OUTPUT
        shell: bash

  validation:
    runs-on: arc-runner-set
    name: Validate ${{ matrix.app }}
    needs: changed-apps
    container:
      image: alpine/k8s:1.30.2
    strategy:
      matrix:
        app: ${{ fromJSON(needs.changed-apps.outputs.apps_matrix) }}
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Kustomize Build
        run: |
          kustomize build --enable-helm ${{ matrix.app }} > ${{ matrix.app }}/bundle.yaml
          echo "---" >> ${{ matrix.app }}/bundle.yaml 
          kustomize build --enable-helm ${{ matrix.app }}/app >> ${{ matrix.app }}/bundle.yaml

      - name: Dry-run kubectl apply
        run: |
          kubectl apply -f ${{ matrix.app }}/bundle.yaml --dry-run=client

  # Can't use previous job as a required status check since it's a matrix
  # Simple job to report success/fail based on previous job to use as a status check
  validation-result:
    runs-on: arc-runner-set
    name: Validation result
    needs: validation
    container:
      image: alpine/k8s:1.30.2
    steps:
      - name: Set status based on build
        run: |
          if [ "${{ needs.validation.result }}" == "success" ]; then
            echo "Validation succeeded."
          else
            echo "Validation failed."
            exit 1
          fi
