name: Kubectl validate
on:
  pull_request:
    branches:
      - main
    paths:
      - "kubernetes/apps/**"

permissions:
  contents: read

jobs:
  changed-apps:
    runs-on: arc-runner-set
    name: Find changed apps
    container:
      image: alpine/k8s:1.30.2
    outputs:
      matrix: ${{ steps.changed-apps.outputs.all_changed_files }}
      apps_matrix: ${{ steps.changed-apps.outputs.apps_matrix }}
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed apps
        id: changed-apps
        uses: tj-actions/changed-files@v44
        with:
          matrix: true
          dir_names: true

      - name: List all changed files
        run: echo '${{ steps.changed-apps.outputs.all_changed_files }}'

      # Even though this workflow only runs on "kubernetes/apps/**" other workflows might change other files
      # To avoid a polluted matrix we only include apps that have changed
      - name: Filter apps matrix
        id: filter-apps
        run: |
          echo "Filtering matrix entries for 'kubernetes/apps'"
          CHANGED_FILES="${{ steps.changed-apps.outputs.all_changed_files }}"
          echo "Changed files: $CHANGED_FILES"
          APPS=()
          for FILE in ${CHANGED_FILES//,/ }; do
            if [[ "$FILE" == kubernetes/apps* ]]; then
              APPS+=("$FILE")
            fi
          done
          APPS_MATRIX=$(printf '%s\n' "${APPS[@]}" | jq -R . | jq -s .)
          echo "Filtered matrix: $APPS_MATRIX"
          # Ensure no leading/trailing whitespace
          echo "apps_matrix=$(echo $APPS_MATRIX | xargs)" >> $GITHUB_ENV
          cat $GITHUB_ENV
        shell: bash

  k8s-validation:
    runs-on: arc-runner-set
    name: Validate ${{ matrix.app }}
    needs: changed-apps
    container:
      image: alpine/k8s:1.30.2
    strategy:
      matrix:
        app: ${{ fromJSON(needs.changed-apps.outputs.apps_matrix) }}
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Kustomize Build
        run: kustomize build --enable-helm ${{ matrix.app }} > ${{ matrix.app }}/bundle.yaml

      - name: Dry-run kubectl apply
        run: |
          kubectl apply -f ${{ matrix.app }}/bundle.yaml --dry-run=client

  # Can't use previous job as a required status check since it's a matrix
  # This only runs if the previous job was successful and is used as a required status check for PRs
  completion:
    runs-on: arc-runner-set
    name: Validation completed
    needs: k8s-validation
    container:
      image: alpine/k8s:1.30.2
    steps:
      - name: Echo
        run: echo 'Validation completed successfully'
