name: kubectl-validate
on:
  pull_request:
    branches:
      - main

jobs:
  get-changed-apps:
    runs-on: homelab-arc-runner-set
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get all apps that changed
        id: changed-apps
        uses: tj-actions/changed-files@v44
        with:
          dir_names: true
          files_yaml: |
            apps:
              - kubernetes/apps/**

      - name: List all changed apps
        run: echo '${{ steps.changed-apps.outputs.all_changed_files }}'

      - id: set-matrix
        run: |
          echo "matrix={\"files\":${{ steps.changed-apps.outputs.all_changed_files }}}" >> $GITHUB_OUTPUT

  k8s-manifests-validation:
    runs-on: homelab-arc-runner-set
    needs: get-changed-apps
    strategy:
      matrix:
        file: ${{ fromJSON(needs.get-changed-apps.outputs.matrix).files }}
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup go
        uses: actions/setup-go@v5

      - name: Install kubectl-validate
        run: go install sigs.k8s.io/kubectl-validate@latest

      - name: Install Kustomize
        run: |
          sudo apt-get update
          sudo apt-get install -y kustomize

      - name: Kustomize Build
        run: kustomize build --enable-helm ${{ matrix.file }} > ${{ matrix.file }}/bundle.yaml

      - name: Run kubectl-validate
        run: kubectl-validate ${{ matrix.file }}/bundle.yaml
